/* Grid layout for .cardContainer with 3 columns and 2 rows, using 1rem gaps and full stretching items. */
.cardContainer {
  display: grid; 
  grid-auto-flow: row dense; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr 1fr 1fr; 
  grid-template-rows: 1fr 1fr; 
  gap: 1rem 1rem; 
  grid-template-areas: 
    ". . ."
    ". . ."; 
  justify-content: stretch; 
  align-content: stretch; 
  align-items: stretch; 
  
}

/* Single column grid layout with 6 rows for .cardContainer on screens 1000px wide or smaller. */
@media (max-width:1000px) {
.cardContainer {
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-auto-rows: 1fr; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
  gap: 1rem 0px; 
  grid-template-areas: 
    "."
    "."
    "."
    "."
    "."
    "."; 
}
}
