/* Main styling for the person card: margin, background color, and rounded corners. */
.personCard {
    margin-right: 1rem;
    background-color: var(--dark-blue);
    border-radius: 20px 20px 10px 10px;
}

/* Styling for the profile picture: size, border, and circular shape. */
.personCard img {
    width: 4rem;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 1rem;
}

/* Styling for paragraph text inside the person card: font size, color, and margin. */
.personCard p {
    font-size: 1rem;
    color: var(--pale-blue);
    margin-bottom: 0;
}

/* Styling for the heading inside the person card: font size, weight, color, and margin. */
.personCard h1 {
    font-size: 2.7rem;
    font-weight: 300;
    color: var(--pale-blue);
    margin-top: 0;
}

/* Container for personal info: background color, padding, border radius, and width. */
.personInfo {
    background-color: var(--blue);
    padding: 2rem 0 2rem 2rem;
    border-radius: 10px;
    width: 15rem;
}

/* Padding for the period section of the card. */
.period {
    padding: 1rem 0 0 1rem;
}

/* Margin top for buttons within the timeframes section. */
.timeframes button {
    margin-top: 1rem;
    font-size: 1rem;
}

/* Styling for active timeframe button: white text color. */
.active {
    color: white;
}

/* Responsive styling for screens 1000px wide or smaller: adjustments to layout, sizes, and padding. */
@media (max-width: 1000px) {
    .personInfo {
        display: flex;
        align-items: center;
        width: 100%;
    }

    .personCard {
        margin: 0;
    }

    .personCard img {
        width: 3rem;
        margin: 1rem;
    }

    .personInfo {
        padding: 0;
    }

    .personCard h1 {
        font-size: 20px;
    }

    .timeframes {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
    }

    .period {
        padding: 0;
    }
}
